FITBIT_CLIENT_ID=fitbit_client_id
FITBIT_CLIENT_SECRET=fitbit_client_secret
FITBIT_TOKEN_PATH=~/.config/fitbit/fitbit-token.json
NOTION_API_SECRET=notion_api_secret
NOTION_TABLE_2025_ID=table_id
DATA_DIR=~/data